<% layout ('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Image</h1>
    <div class="col-md-6 offset-md-3"> 
    <form action="/images" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <lable class="form-label" for="ImgName">Image Name</lable>
            <input class="form-control" type="text" id="ImgName" name="ImgName" required>
        </div>
        <div class="mb-3">
            <lable class="form-label" for="ImgDetails">Image Details</lable>
            <textarea class="form-control" type="text" id="ImgDetails" name="ImgDetails" required></textarea>
        </div>
        <div class="mb-3">
            <lable class="form-label" for="ImgURL">Image URL</lable>
            <input class="form-control" type="text" id="ImgURL" name="ImgURL" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add image</button> 
            </div>
        </form>
        <a href="/images">All Images</a>
    </div>
</div>
